<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hung.mapper.DemoCharacterMapper">
    <select id="queryDemoCharacterByIdCard" resultType="com.hung.pojo.DemoCharacter">
        select * from demo_character where id_card=#{id_card}
    </select>

    <select id="queryDemoCharacterById" resultType="com.hung.pojo.DemoCharacter">
        select * from demo_character where id=#{id}
    </select>

    <select id="queryDemoCharacterTotalByDoctorId" resultType="INT">
        select count(*) from demo_character,doctor_subject where demo_character.id_card=doctor_subject.id_card and doctor_subject.doctor_id=#{doctor_id}
    </select>

    <select id="queryDemoCharacterTotalByIdCardObscure" resultType="INT">
        select count(*) from demo_character,doctor_subject where doctor_subject.doctor_id=#{doctorId} and demo_character.id_card=doctor_subject.id_card and demo_character.id_card like concat('%',#{idCard},'%')
    </select>
</mapper>