__pycache__/
.ieda
.idea/*
.idea/workspace.xml
DESP.log
target/
tmp.py
src/test/python/unit_test/venv
src/test/python/unit_test/start.ps1
src/test/java/com/hung/*git
src/main/resources/app.py
src/main/resources/venv
