#app {
    padding-top: 8px;
    padding-bottom: 20px;
}

#base-info {
    padding: 16px 8px;
    border-bottom: 1px solid #ccc;
}

#action-group {
    margin-top: 10px;
}

#action-group .btn-group-parent {
    text-align: center;
}

#action-group .btn-group {
    display: inline-block;
}

#action-group .btn-group #unfold-all-record,
#action-group .btn-group #fold-all-record,
#action-group .btn-group #back-homepage,
#action-group .btn-group #add-new-subject {
    display: block;
    float: left;
    width: auto;
    margin-bottom: 0;
}

#action-group .btn-group > button:nth-of-type(n + 2) {
    margin-left: 20px;
}

#action-group form[name="search-record"] {
    width: 100%;
    margin: 5px 0 20px;
    padding: 0 8px;
}

#action-group form[name="search-record"] input[name="search_subject_id"] {
    margin-bottom: 0;
}

#record-list {
    margin: 0;
    padding: 0;
}

#record-list > .subject-item {
    margin: 10px 0 0 0;
    list-style: none;
}

#record-list > .subject-item details {
    margin: 0;
    padding: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #ccc;
}

#record-list > .subject-item:first-child details {
    border-top: 1px solid #ccc;
}

#record-list > .subject-item:last-child details {
    border-bottom-width: 1px;
}

#record-list > .subject-item details summary {
    position: relative;
    margin: 0;
    padding: 16px 8px;
    background-color: #f0f3f6;
}

#record-list > .subject-item details summary .add-record {
    position: absolute;
    top: 8px;
    right: 36px;
    width: 56px;
    height: 33px;
    border-radius: 4px;
    background-color: #1095c1;
    color: #fff;
    text-align: center;
    line-height: 33px;
}

#record-list > .subject-item details summary .add-record:hover {
    background-color: #08769b;
    text-decoration: none;
}

#record-list > .subject-item details .items {
    margin: 0;
    padding: 0;
}

#record-list > .subject-item details .items > .item {
    margin: 0;
    padding: 0;
    list-style: none;
}

#record-list > .subject-item details .items > .item a {
    display: block;
    padding: 16px 8px;
    border-top: 1px solid #5bcdf3;
    background-color: #d2f4ff;
    color: #08769b;
}