<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日常生活能力量表</title>

    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
</head>
<body>
    <div id="app">
        <h1 class="collect-table-h1">日常生活能力量表</h1>
        <form class="collect-form" name="adl" method="post" action="/collect_table_8">
            <button type="submit" id="collect-submit-btn">保存</button>
            <button type="button" id="next-page-btn" class="hidden">返回主页</button>
        </form>
    </div>

    <script src="/js/common.js"></script>
    <script src="/js/collect-table-8.js"></script>
</body>
</html>